body {
    margin: 0;
    padding: 0;
    background-image: url(../images/wp.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-attachment: fixed; 
  }
  .content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
    height: 100vh;
    box-sizing: border-box;
    &__burger {
      width: 35px;
      height: 35px;
      position: absolute;
      top: 3%;
      left: 12%;
      z-index: 30;
    }
    &__burger_mobi {
      width: 35px;
      height: 35px;
      position: absolute;
      display: none;
      top: 3%;
      left: 16%;
      z-index: 30;
    }
    &__main_title {
      position: absolute;
      width: 100%;
      padding-top:3%;
      margin: 0;
      text-align: center;
      box-sizing: border-box;
      font-family: Didact Gothic;
      font-weight: 100;
      font-size: 40px;
      text-transform: uppercase;
      color: white;
    }
    &__block{
       position: absolute;
       margin: auto;
       top: 0;
       left: 0;
       bottom: 0;
       right: 0;
       display: flex;
       flex-direction: row;
        width: 75%;
        height: 55%;
    }
    &__map{
        width: 55%;
        height: 100%;

    }
    &__title{
        width: 45%;
        height: 100%;
        background-color: #2b323b;
    }
    &__sub_title{
    position: relative;
    widows: 100%;
    height: 50%;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 41px;
    color: #FFFFFF;
    }
    &__text{     
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &__networks{
      position: relative;
      width: 100%;
      height: 50%;
      background-color: #2b323b;
      
    }
    &__network{
      position: absolute;
      margin: auto;
      width: 70%;
      height: 45%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      color: #FFFFFF;
    }
    @media screen and(max-width: 1400px) {
      &__network{
        width: 80%;     
      }
      }
      @media screen and(max-width: 1200px) {
        &__block{
          display: flex;
          flex-direction: column;
          height: 90%;
         position: absolute;
         top: auto ;
         
       }
       &__map{
        width: 90%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    &__title{
        width: 100%;
        height: 50%;
        background-color: transparent;
       
    }
    &__sub_title{
      font-size: 20px;
    background-color: transparent;
      }
      &__networks{
        font-size: 15px;
        background-color: transparent;
      }
      &__text{     
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 10px;
      }
      &__burger {
        width: 35px;
        height: 35px;
        position: absolute;
        top: 2%;
        left: 7%;
      }
  }
  @media screen and(max-width: 700px) {
    &__block{
      width: 100%;   
   }
  } 
}

@media screen and(max-width: 700px) {
  .content {
    width: 100%; 
    height: 100vh;
    box-sizing: border-box;
  }
 }



p{
  margin-left: 60px;
  margin-top: -35px;
}
.burger__menu {
    position: absolute;
    width: 11%;
    border-left: 1px solid grey;
    bottom: 15%;
    left: 3%;
    padding-top: 0.5%;
    padding-bottom: 2%;
    display: none;
  }
  .content__menu_items {
    padding-top: 10%;
    color: white;
    font-weight: lighter;
    text-transform: uppercase;
    margin-right: 20px;
    margin-left: 20px;
    font-family: Didact Gothic;
    font-size: 20px;
    text-align: center;
  }
  @media screen and(max-width: 700px) {
    .burger__menu {
        position: absolute;
        width: 100%;
        border-left: 1px solid grey;
        bottom: 15%;
        left: 3%;
        padding-top: 0.5%;
        padding-bottom: 2%;
        display: none;
        box-sizing: border-box;
        z-index: 31;
      }   
      .content__close{
        display: none;
      }
      .content__burger {
       display: none;
      }
      .content__burger_mobi {
        left: 12%;
        display: block;
      }
  }
  a {
    text-decoration: none;
  }
  .show{
    transition: .5s;
    transform: scale(1);
  }
  .show2{
    display: block;
  }
  .blue{
    background-image: none;
    background-color: #07101d;
  }
  .hiden{
    transform: scale(0);
  }
