body {
    margin: 0;
    padding: 0;
    background-image: url(../images/wp.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-attachment: fixed; 
  }

  .content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
    height: 100vh;
    &__burger {
        width: 35px;
        height: 35px;
        position: absolute;
        top: 3%;
        left: 12%;
        z-index: 30;
    }
    &__burger_mobi {
      width: 35px;
      height: 35px;
      position: absolute;
      top: 3%;
      left: 16%;
      z-index: 30;
      display: none;
    }
      &__main_title_price {
        position: absolute;
        width: 100%;
        padding-top: 4%;
        margin: 0;
        text-align: center;
        box-sizing: border-box;
        font-family: Didact Gothic;
        font-weight: 100;
        font-size: 40px;
        text-transform: uppercase;
        color: white;
      }
      &__price{
          width: 60%;
          height: 35%;
         position: absolute;
         margin: auto;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
      }
      &__row{
          width: 100%;
          height: 14.3%;
          display:flex;
      }
      &__name{
        width: 45%;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 50px;
        color: seashell;
      }
      &__name_price{
          text-align: end;
          width: 55%;
          font-family: Open Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 26px;
          line-height: 50px;
          color: seashell;
          border-bottom: 1.3px solid white;
      }
      &__button {
        position: absolute;
        margin: auto;
        top: 500px;
        left: 0;
        bottom: 0;
        right: 0;
        border: 1px solid white;
        border-radius: 50px;
        outline: none;
        width: 210px;
        height: 50px;
        background-color: transparent;
        font-family: Didact Gothic;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        color: white;
      }
      
      @media screen and(max-width: 1400px) {
        &__price{
            width: 60%;
            height: 45%;
           position: absolute;
           margin: auto;
           top: 0;
           left: 0;
           right: 0;
           bottom: 0;
        }
        &__row{
            width: 100%;
            height: 14.3%;
            display:flex;
        }
        &__name_price{
            text-align: end;
            width: 55%;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 26px;
            line-height: 50px;
            color: seashell;
            border-bottom: 1.3px solid white;
        }
        }
        @media screen and(max-width: 1000px) {
          &__price{
            width: 100%;
        }
        &__name_price{
          border-bottom: none;
          width: 30%;
          padding-right: 10%;
      }
      &__name{
        width: 70%;
        padding-left: 10%;
      }
      &__main_title_price {
        padding-top: 10%;
      }
    }
    @media screen and(max-width: 600px) {
    &__name_price{
      padding-right: 8%;
      font-size: 20px;
  }
  &__name{
    padding-left: 8%;
    font-size: 20px;
  }
}
@media screen and(max-width: 400px) {
  &__name_price{
    padding-right: 7%;
    font-size: 15px;
}
&__name{
  padding-left: 7%;
  font-size: 15px;
}
}
    @media screen and(max-width: 600px) {
    &__main_title_price {
      padding-top: 15%;
    }
    }
    @media screen and(max-width: 400px) {
    &__main_title_price {
      padding-top: 20%;
    }
    }


        &__width{
          position: absolute;
          margin: auto;
          top: 19%;
          left: 0;
          right: 0;
          width: 75%; 
          transition: 200ms ease-in-out;;
          background-color: #333943;  
          transform: scale(0);
          }
          &__close{
            position: absolute;
            right: 0;
            top: -0.7%;
        }
        &__foto {
          margin-top: 50px;
          margin-left: auto;
          margin-right: auto;
          width: 200px;
          height: 200px;
          border-radius: 170px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
        }
  
        &__team{
          margin-bottom: 6%;
      }
      &__MainTitle{
        width: 100%;
        padding-top: 1%;
        text-align: center;
        font-family: Didact Gothic;
        font-weight: 100;
        font-size: 40px;
        text-transform: uppercase;
        color: white;
      }
      &__name_foto{
        width: 100%;
        text-align: center;
        font-family: Didact Gothic;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        color: white;
      }
      @media screen and(max-width: 1400px) {
        &__team{
            margin-bottom: 2%;
        }
        &__foto{
            margin-top: 10px;
        }
      }
      &__data{
        position: absolute;
        margin: auto;
        top: 19%;
        left: 0;
        right: 0;
        width: 75%; 
        transition: 200ms ease-in-out;;
        background-color: #333943;  
        transform: scale(0);
    }
    &__calendar{
      height: 65vh;
      display: flex;
      flex-direction: row;
  }
  &__left{
      position: relative;
      width: 45%;
      height: 100%;
  }
  &__right{
      position: relative;
      width: 55%;
      height: 100%;
    
  }
  &__main_calendar{
      position: absolute; 
      left: 5%;
      top: 20%;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid white;
      padding-bottom: 10px;
      color: white;
      font-size: 14px;
      font-family: Open Sans;
      font-style: oblique;
  }
  &__enter{
      height: 60%;
      position: relative;
      box-sizing: border-box;
  }
  &__time{ 
      position: absolute;
      left: 0;
      top: 7vh;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid white;
      padding-bottom: 10px;
      color: white;
      font-size: 14px;
      font-family: Open Sans;
      font-style: oblique;
  }
  &__phone{ 
      position: absolute;
      right: 3vw;
      top: 7vh;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid white;
      padding-bottom: 10px;
      color: white;
      font-size: 14px;
      font-family: Open Sans;
      font-style: oblique;
  }
  &__firstName{
      position: absolute;
      left: 0;
      bottom: 7vh;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid white;
      padding-bottom: 10px;
      color: white;
      font-size: 14px;
      font-family: Open Sans;
      font-style: oblique;
  }
  &__secondName{
      background-color: transparent;
      border: none;
      border-bottom: 1px solid white;
      padding-bottom: 10px;
      color: white;
      font-size: 14px;
      font-family: Open Sans;
      font-style: oblique;
      position: absolute;
      right: 3vw;
      bottom: 7vh;
  }
  &__rightFooter{    
      position: relative;
  }
  &__header_title{
      font-family: Didact Gothic;
      font-weight: 100;
      font-size: 35px;
      text-transform: uppercase;
      color: white; 
      margin-top: 10%;
  }
  &__buttonData{
          position: absolute;
          left: 0;
          top: 0;
          border: 1px solid white;
          border-radius: 50px;
          outline:  none;
          width: 210px;
          height: 50px;
          background-color: transparent;
          font-family: Didact Gothic;
          font-style: normal;
          font-weight: 500;
          font-size: 30px;
          color: white;  
  }
  &__barbersName{
    position: absolute;
   display: none;
}
&__title {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  color: white;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  opacity: 0;
}
@media screen and(max-width: 1000px) {
  &__data{
  top: 0;
  bottom: 0;
  width: 100%; 
  height: 100%;
  background-image: url(../images/wp.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-attachment: fixed;    
  background-size: cover;
  }
  &__calendar{
      display: flex;
      flex-direction: column;
  }
  &__left{
      position: relative;
      width: 100%;
      height: 40%;
  }
  &__right{
      position: relative;
      width: 100%;
      height: 60%;
  }
  &__close{
      position: absolute;   
  }
  &__header_title{
      margin-top: -18%;
      text-align: center;
      width: 100%;
  }
  &__main_calendar{
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 180px;
  }
  &__enter{
      margin-top: 35%;
  }
  &__firstName{
      bottom: 0; 
      left: 3vh;
  }
  &__time{
      left: 3vh;
  }
  &__secondName{
      bottom: 0;
  }
  
  &__rightFooter{
      margin-top: 15%;
      text-align: center;
  }
  &__buttonData{
      position: relative;
      margin-left: auto;
      margin-right: auto;
  }
}

@media screen and(max-width: 600px) {
  &__width{
  top: 0;
  bottom: 0;
  width: 100%; 
  height: 100%;
  }
  &__MainTitle{
      margin-top: 20%;
  }
  &__foto{
      margin-bottom: 30%;
  }
  &__name_foto{
      margin-top: -40px;
  }
  &__title {
      opacity: 1;
    }
}
@media screen and(max-width: 1000px) {
  &__width{
  top: 0;
  bottom: 0;
  width: 100%; 
  height: 100%;
  background-image: url(../images/wp.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-attachment: fixed;    
  background-size: cover;
  }
  &__title {
      opacity: 1;
    }
}
  &__popup{
    width: 40%;
    height: 35%;
    background-color: #333943;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
}
&__popupTitle{
    width: 100%;
    height: 80%;
    margin-top: 7vh;
    text-align: center;
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: white;  
    text-transform: uppercase;
}
&__radio{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom:6vh;
}
@media screen and(max-width: 1400px) {
    &__radio{
        bottom:6vh;
    }
    &__popup{
        width: 45%;
        height: 45%;
    }
  }
  @media screen and(max-width: 1000px) {
    &__radio{
        bottom:6vh;
    }
    &__popup{
        width: 90%;
        height: 45%;
    }
  }
}


.burger__menu {
    position: absolute;
    width: 11%;
    border-left: 1px solid grey;
    bottom: 15%;
    left: 3%;
    padding-top: 0.5%;
    padding-bottom: 2%;
    display: none;
  }
  .content__menu_items {
    padding-top: 10%;
    color: white;
    font-weight: lighter;
    text-transform: uppercase;
    margin-right: 20px;
    margin-left: 20px;
    font-family: Didact Gothic;
    font-size: 20px;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
  .content__button:hover{
    background-color: white;
    color: black;
}
.slick-active{
  display: none;
}
.show{
  transform: scale(1);
}

.blur{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

@media screen and(max-width: 1000px) {
.content{
  width: 100%;
}
}
@media screen and(max-width: 600px) {
  .burger__menu {
      position: absolute;
      width: 100%;
      border-left: 1px solid grey;
      bottom: 15%;
      left: 3%;
      padding-top: 0.5%;
      padding-bottom: 2%;
      display: none;
      box-sizing: border-box;
      z-index: 31;
    }   
    .content__close{
      display: none;
    }
    .content__burger {
     display: none;
    }
    .content__burger_mobi {
      left: 12%;
      display: block;
    }
}


a {
  text-decoration: none;
}
.show2{
  display: block;
}
.blue{
  background-image: none;
  background-color: #07101d;
}
.hiden{
  transform: scale(0);
}
