body{
    margin: 0;
    padding: 0;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;    
    background-size: cover;  
} 
.blur{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.content{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
    height: 100vh;
    &__width{
    position: absolute;
    margin: auto;
    top: 19%;
    left: 0;
    right: 0;
    width: 75%; 
    height: 65vh;
    transition: 200ms ease-in-out;;
    background-color: #333943;  
    transform: scale(0);
    }
  
    &__close{
        position: absolute;
        right: 0;
        top: -0.7%;
    }
    &__title {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        color: white;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        opacity: 0;
      }
    &__main_title {
        width: 100%;
        padding-top: 1%;
        text-align: center;
        font-family: Didact Gothic;
        font-weight: 100;
        font-size: 40px;
        text-transform: uppercase;
        color: white;
    }
    &__foto {
        margin-top: 40%;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;
        border-radius: 170px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

      &__team{
        margin-bottom: 6%;
    }
    @media screen and(max-width: 600px) {
        &__width{
        top: 0;
        bottom: 0;
        width: 100%; 
        height: 100%;
        }
        &__main_title{
            margin-top: 20%;
        }
        &__foto{
            margin-bottom: 20%;
        }
        &__name{
            margin-top: -40px;
        }
        &__title {
            opacity: 1;
          }
      }
      @media screen and(max-width: 1000px) {
        &__width{
        top: 0;
        bottom: 0;
        width: 100%; 
        height: 100%;
        background-image: url(../images/wp.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-attachment: fixed;    
        background-size: cover;
        }
        &__title {
            opacity: 1;
          }
      }


    @media screen and(max-width: 1400px) {
        &__team{
            margin-bottom: 2%;
        }
        &__foto{
            margin-top: 10%;
        }
      }

    &__name {
        width: 100%;
        margin-top: 30px;
        text-align: center;
        font-family: Didact Gothic;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        color: white;
      }
    &__menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 13vh;
    }
    &__menu_items{
        color: white;
        text-transform: uppercase;
        margin-right: 4.271537622682661vh;
        margin-left: 4.271537622682661vh;
        font-family: Didact Gothic;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;   
        text-decoration: none; 
    }
    &__line{
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        width:  80%;
        height: 1px;
        top: 21vh;
        background-color: white;
    }
    &__burger{
       position: absolute;
       top: 5%;
       left: 10%;
       opacity: 0;
    }
    &__burger--data{
        top: 20%;
    }
    &__items-none{
        opacity: 1;
    }
  
    @media screen and(max-width: 600px) {
        &__line{
        display: none;
        }
        &__menu_items{
          display: none;  
        }
        &__facebook{
            display: none;
        }
        &__instagram{
            display: none;
        }
        &__burger{
            opacity: 1;
         }
         &__items-none{
            opacity: 0;
        }
        &__footer{
           height: 10vh;
        }     
      }
      @media screen and(max-width: 1200px) {
        &__line{
        display: none;
        }   
      }
    &__logo{
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;   
        width: 220px;
        height: 220px;
    }
    &__facebook{
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
    }
    &__instagram{
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
    }
    &__button{
        position: absolute;
        margin: auto;
        top: 370px;
        left: 0;
        bottom: 0;
        right: 0;
        border: 1px solid white;
        border-radius: 50px;
        outline:  none;
        width: 210px;
        height: 50px;
        background-color: transparent;
        font-family: Didact Gothic;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        color: white;
    }
    &__footer{
        display: flex;
        width: 100%;
        position: absolute;
        flex-direction: row;
        justify-content: center;
        bottom: 5vh;
       
    }    
    &__items{
        margin-left: 40px;
        margin-right: 40px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: white;
        text-align: center;
    }
   

    &__data{
        position: absolute;
        margin: auto;
        top: 19%;
        left: 0;
        right: 0;
        width: 75%; 
        transition: 200ms ease-in-out;;
        background-color: #333943;  
        transform: scale(0);
    }
    
    &__calendar{

        height: 65vh;
        display: flex;
        flex-direction: row;
    }
    &__left{
        position: relative;
        width: 45%;
        height: 100%;
    }
    &__right{
        position: relative;
        width: 55%;
        height: 100%;
      
    }
    &__main_calendar{
        position: absolute;
        left: 5%;
        top: 20%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        color: white;
        font-size: 14px;
        font-family: Open Sans;
        font-style: oblique;
    }
    &__barbersName{
        position: absolute;
       display: none;
    }
    &__enter{
        height: 60%;
        position: relative;
        box-sizing: border-box;
    }
    &__time{ 
        position: absolute;
        left: 0;
        top: 7vh;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        color: white;
        font-size: 14px;
        font-family: Open Sans;
        font-style: oblique;
    }
    &__phone{ 
        position: absolute;
        right: 3vw;
        top: 7vh;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        color: white;
        font-size: 14px;
        font-family: Open Sans;
        font-style: oblique;
    }
    &__firstName{
        position: absolute;
        left: 0;
        bottom: 7vh;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        color: white;
        font-size: 14px;
        font-family: Open Sans;
        font-style: oblique;
    }
    &__secondName{
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        color: white;
        font-size: 14px;
        font-family: Open Sans;
        font-style: oblique;
        position: absolute;
        right: 3vw;
        bottom: 7vh;
    }
    &__rightFooter{    
        position: relative;
    }
    &__header_title{
        font-family: Didact Gothic;
        font-weight: 100;
        font-size: 35px;
        text-transform: uppercase;
        color: white; 
        margin-top: 10%;
    }
    &__buttonData{
            position: absolute;
            left: 0;
            top: 0;
            border: 1px solid white;
            border-radius: 50px;
            outline:  none;
            width: 210px;
            height: 50px;
            background-color: transparent;
            font-family: Didact Gothic;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            color: white;  
    }
    @media screen and(max-width: 1000px) {
        &__data{
        top: 0;
        bottom: 0;
        width: 100%; 
        height: 100%;
        background-image: url(../images/wp.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-attachment: fixed;    
        background-size: cover;
        }
        &__calendar{
            display: flex;
            flex-direction: column;
        }
        &__left{
            position: relative;
            width: 100%;
            height: 40%;
        }
        &__right{
            position: relative;
            width: 100%;
            height: 60%;
        }
        &__close{
            position: absolute;   
        }
        &__header_title{
            margin-top: -18%;
            text-align: center;
            width: 100%;
        }
        &__main_calendar{
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 180px;
        }
        &__enter{
            margin-top: 35%;
        }
        &__firstName{
            bottom: 0; 
            left: 3vh;
        }
        &__time{
            left: 3vh;
        }
        &__secondName{
            bottom: 0;
        }
        
        &__rightFooter{
            margin-top: 15%;
            text-align: center;
        }
        &__buttonData{
            position: relative;
            margin-left: auto;
            margin-right: auto;
        }
      }
    &__popup{
        width: 40%;
        height: 35%;
        background-color: #333943;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scale(0);
    }
    &__popupTitle{
        width: 100%;
        height: 80%;
        margin-top: 7vh;
        text-align: center;
        font-family: Didact Gothic;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        color: white;  
        text-transform: uppercase;
    }
    &__radio{
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom:6vh;
    }
    &__burger_pidt{
        transform: scale(0);
    }
    @media screen and(max-width: 1400px) {
        &__radio{
            bottom:6vh;
        }
        &__popup{
            width: 45%;
            height: 45%;
        }
      }
      @media screen and(max-width: 1000px) {
        &__radio{
            bottom:6vh;
        }
        &__popup{
            width: 90%;
            height: 45%;
        }
        &__burger_pidt{
            margin-top: -90%;
            margin-left: 5%;
            transform: scale(1);
        }
      }
}
@media screen and(max-width: 600px) {
    .content{
        width: 100%; 
    }
}
@media screen and(max-width: 1000px) {
    .content{
        width: 100%;
    }
}
.content__time::placeholder{
color: white;
}
.content__phone::placeholder{
    color: white;
}
.content__firstName::placeholder{
    color: white;
}
.content__secondName::placeholder{
    color: white;
}
    
.content__button:hover{
    background-color: white;
    color: black;
}
.content__buttonData:hover{
    background-color: white;
    color: black;
}
.content__menu_items:hover{
    padding-bottom: 2px;
    border-bottom: 1px solid white;

}
.burger__menu {
    position: absolute;
    width: 12%;
    border-left: 1px solid grey;
    bottom: 15%;
    left: 3%;
    padding-top: 0.5%;
    padding-bottom: 2%;
    transform: scale(0);
  }
  .content__menu_items1 {
    padding-top: 10%;
    color: white;
    font-weight: lighter;
    text-transform: uppercase;
    margin-right: 20px;
    margin-left: 20px;
    font-family: Didact Gothic;
    font-size: 20px;
    text-align: center;
  }

  @media screen and(max-width: 600px) {
    .burger__menu {
        position: absolute;
        width: 100%;
        border-left: 1px solid grey;
        bottom: 15%;
        left: 3%;
        padding-top: 0.5%;
        padding-bottom: 2%;
        transform: scale(0);  
        box-sizing: border-box;
      }   
      .content__close{
        display: none;
      }
  }

a:hover{
text-decoration: none; 
}

.slick-dots{
    display: none;
}

.show{
    transition: .5s;
    transform: scale(1);
}
.blue{
    background-image: none;
    background-color: #07101d;
}
.hiden{
    transform: scale(0);
}


